body {
  font-family: sans-serif;
  justify-items: center;
  background-color: #f0f0f0;
}
.domanda {
  width: 600px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  border-left: solid #4285f4 10px;
}
.header {
  width: 600px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  border-top: solid #673ab7 10px;
}
.container {
  width: fit-content;
  justify-items: center;
}
#risultato {
  margin-top: 20px;
  padding: 10px;
  border: dashed blue 2px;
  background-color: #e9e9e9;
}
button {
  width: 100%;
  height: 50px;
  color: white;
  font-size: 18px;
  border-radius: 12px;
  text-align: center;
  border: none;
  background-color: purple;
}
button:hover {
  cursor: pointer;
  opacity: 0.8;
}
